{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Your shopping list</h1>
    <div>
        <form method="post" action="{% url 'shoppingitem_delete' %}">
            {% csrf_token %}
            <button class="button">Delete all</button>
        </form>
    </div>
    <ul>
        {% for item in shopping_items %}
        <li>{{ item.food_item }}</li>
        {% endfor %}
    </ul>
    </div>
</main>
{% endblock content %}
