{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="tag-detail">
    <div>
        <a href="{% url 'meal_plan_edit' mealplan.pk %}">Edit</a>
        <a href="{% url 'meal_plan_delete' mealplan.pk %}">Delete</a>
    </div>
    <h2>Recipes for {{ mealplan.name }} on {{ mealplan.date|date:"M d, Y" }}</h2>
    {% for recipe in mealplan.recipes.all %}
    <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
</main>
{% endfor %}
{% endblock content %}
